@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 262 84% 59%;
    --primary-foreground: 262 84% 98%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 210 40% 9%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 210 40% 45.1%;
    --accent: 180 85% 45%;
    --accent-foreground: 180 85% 95%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 262 84% 59%;
    --radius: 0.5rem;
    --chart-1: 262 84% 59%;
    --chart-2: 180 85% 45%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
  }

  .dark {
    --background: 224 31% 12%; /* #161a25 */
    --foreground: 210 20% 95%;
    --card: 223 27% 15%; /* #1b2030 */
    --card-foreground: 210 20% 95%;
    --popover: 223 27% 10%;
    --popover-foreground: 210 20% 95%;
    --primary: 262 84% 59%; /* #8a42ff */
    --primary-foreground: 262 84% 98%;
    --secondary: 223 27% 20%;
    --secondary-foreground: 210 20% 95%;
    --muted: 223 27% 20%;
    --muted-foreground: 210 20% 75%;
    --accent: 180 85% 45%; /* #24e5e5 */
    --accent-foreground: 180 85% 95%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 223 27% 20%;
    --input: 223 27% 20%;
    --ring: 262 84% 59%;
    --chart-1: 262 84% 59%;
    --chart-2: 180 85% 45%;
    --chart-3: 43 74% 66%;
    --chart-4: 27 87% 67%;
    --chart-5: 12 76% 61%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
